@{
    Layout = null;
    var title = ViewBag.Title ?? "Website";
    string userId = Session["UserId"] != null ? Session["UserId"].ToString() : "";
    bool isDarkMode = Session["DarkMode"] == null ? true : (bool)Session["DarkMode"];
    string backgroundColor = isDarkMode ? "#000000" : "#f5f5f5";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="~/Content/Images/mainbg.png" />
    <title>@title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />

    <style>
        html, body {
            font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
        }
    </style>

    @RenderSection("Styles", required: false)
</head>


<body style="background:@backgroundColor;z-index:1;margin:0;padding-top:90px;
             font-family:'Roboto',system-ui,-apple-system,BlinkMacSystemFont,sans-serif;">
    @Html.Action("_Header", "Shared", new { userId = userId, area = "" })
    @Html.Action("_Nav", "Shared", new { code = userId, role = "fn", area = "" })

    <main>
        @RenderBody()
    </main>

    @Html.Action("_Footer", "Shared", new { userId = userId, area = "" })

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
